# 1.Credit Card Mask

In [7]:
def maskify(cc):
    return '#'*(len(cc)-4)+ cc[-4:]

In [8]:
maskify('SF$SDfgsd2eA')

'########d2eA'

# 2.Sum of two lowest positive integers

In [9]:
def sum_two_smallest_numbers(numbers):
    numbers.sort()
    return (numbers[0]+numbers[1])

In [10]:
sum_two_smallest_numbers([19, 5, 42, 2, 77])

7

# 3. Exes and Ohs

In [15]:
def xo(s):
    d= {'x':0,'o':0}
    for x in s:
        if(x.lower() == 'x'):
            d['x']+=1
        if(x.lower()=='o'):
            d['o']+=1
    return (True if(d['x']==d['o']) else False)

In [16]:
xo('xxxoo')

False

# 4. Printer Errors

In [20]:
def printer_error(s):
    colors ='abcdefghijklm'
    errors = 0
    for x in s:
        if(x.lower() not in colors):
            errors +=1
    return f"{errors}/{len(s)}"

In [21]:
printer_error("kkkwwwaaaaaaaaaaaaaabbbbbbbbbbbbbbbbbbmmmmmmmmmmmmmmmmmmmxyzuuuuu")

'11/65'

# 5. Does my number look big in this?

In [29]:
def calculate(number):
    base = len(str(number))
    number = str(number)
    summ = 0
    for x in number:
        summ += int(x) ** base
    return summ

In [30]:
def narcissistic( value ):
    return True if value == calculate(value) else False

In [32]:
narcissistic(7)

True

In [33]:
narcissistic(371)

True

In [34]:
narcissistic(122)

False

In [35]:
narcissistic(4887)

False

# 6.Sum of Digits / Digital Root

In [46]:
def calculate_sum(number):
    number = str(number)
    summ = 0
    for x in number:
        summ+= int(x)
    return summ

In [47]:
def digital_root(n):
    while(len(str(n))>1):
        n = calculate_sum(n)
    return n

In [48]:
digital_root(942)

6

In [49]:
digital_root(132189)

6

In [50]:
digital_root(493193)

2

In [51]:
digital_root(16)

7

# 7. Take a Ten Minutes Walk

In [63]:
def is_valid_walk(walk):
    if (len(walk)!=10):
        return False
    else :
        return True if (walk.count('n') == walk.count('s')) and (walk.count('e') == walk.count('w')) else False

In [64]:
is_valid_walk(['n','s','n','s','n','s','n','s','n','s'])

True

In [65]:
is_valid_walk(['w','e','w','e','w','e','w','e','w','e','w','e'])

False

In [66]:
is_valid_walk(['w'])

False

In [67]:
is_valid_walk(['n','n','n','s','n','s','n','s','n','s'])

False

# 8. Highest and Lowest

In [84]:
def high_and_low(numbers):
    return f'{max([int(x) for x in numbers.split()])} {min([int(x) for x in numbers.split()])}'

In [85]:
high_and_low("8 3 -5 42 -1 0 0 -9 4 7 4 -4")

'42 -9'

In [86]:
high_and_low("1 2 3")

'3 1'

In [83]:
("8 3 -5 42 -1 0 0 -9 4 7 4 -4".split())

['8', '3', '-5', '42', '-1', '0', '0', '-9', '4', '7', '4', '-4']

# 9. Your order, please

In [131]:
def order(sentence):
    number_queue = []
    for x in sentence:
        if(x.isnumeric()):
            number_queue.append(int(x))
    sentence=sentence.split()
    output =['' for x in range(len(sentence))]
    for i in range(len(number_queue)):
        output[number_queue[i]-1]= sentence[i]
    return " ".join(output)

In [132]:
order("is2 Thi1s T4est 3a")

'Thi1s is2 3a T4est'

In [133]:
order("4of Fo1r pe6ople g3ood th5e the2")

'Fo1r the2 g3ood 4of th5e pe6ople'

In [113]:
text ="4of Fo1r pe6ople g3ood th5e the2"

In [114]:
text.split()

['4of', 'Fo1r', 'pe6ople', 'g3ood', 'th5e', 'the2']

In [103]:
text

'4of Fo1r pe6ople g3ood th5e the2'

# 10. Array.diff

In [149]:
def array_diff(a, b):
    result_array =[]
    for item in a:
        if(item not in b):
            result_array.append(item)
    return result_array

In [156]:
def array_diff(a, b):
    return [x for x in a if x not in b]

In [157]:
array_diff([1,2], [1])

[2]

In [158]:
array_diff([1,2,2], [2])

[1]

In [159]:
array_diff([1,2,2], [])

[1, 2, 2]

In [160]:
array_diff([], [1,2])

[]

In [161]:
array_diff([1,2,3], [1, 2])

[3]

# 11. Pete, the baker

In [178]:
def cakes(recipe, available):
    try:
        number_list=[]
        for item in recipe:
            number_list.append(available[item]//recipe[item])
#         print(number_list)
        return (min(number_list))
    except:
        # in case of no available items that are in recipe
        return 0;

In [179]:
recipe = {"flour": 500, "sugar": 200, "eggs": 1}
available = {"flour": 1200, "sugar": 1200, "eggs": 5, "milk": 200}
cakes(recipe,available)

2

In [180]:
recipe1 = {"apples": 3, "flour": 300, "sugar": 150, "milk": 100, "oil": 100}
available1 = {"sugar": 500, "flour": 2000, "milk": 2000}
cakes(recipe1,available1)

0

# 12.Reverse words

In [46]:
def reverse_words(text):
    return ' '.join([item[::-1] for item in text.split(' ')])

In [47]:
reverse_words('The quick brown fox jumps over the lazy dog.')

'ehT kciuq nworb xof spmuj revo eht yzal .god'

In [49]:
reverse_words('double spaced words')

'elbuod decaps sdrow'

# 13. Delete occurrences of an element if it occurs more than n times

In [61]:
def delete_nth(order,max_e):
    dictionary = {}
    result =[]
    for item in order:
        if(item not in dictionary):
            dictionary[item]=1
            result.append(item)
        else:
            dictionary[item]+=1
            if(dictionary[item]<=max_e):
                result.append(item)
    return result

In [62]:
delete_nth([20,37,20,21], 1)

[20, 37, 21]

In [63]:
delete_nth([1,1,3,3,7,2,2,2,2], 3)

[1, 1, 3, 3, 7, 2, 2, 2]

# 14. Moving Zeros To The End

In [77]:
def move_zeros(lst):
    count = 0
    while 0 in lst:
        lst.remove(0)
        count+=1
    return lst + [0 for _ in range(count)]

In [78]:
move_zeros([9, 0, 0, 9, 1, 2, 0, 1, 0, 1, 0, 3, 0, 1, 9, 0, 0, 0, 0, 9])

[9, 9, 1, 2, 1, 1, 3, 1, 9, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# 15. Extract the domain name from a URL

In [117]:
def domain_name(url):
    domain =''
    try:
        index_www = url.index('www.')
        starting_index = index_www+4
    except:
        try:
            index_slahs = url.index('//')
            starting_index = index_slahs+2
        except:
            starting_index = 0
    for i in range(starting_index,len(url)):
        if(url[i] == '.'):
            break
        else:
            domain += url[i]
    return domain

In [126]:
def domain_name(url):
    return url.split("//")[-1].split("www.")[-1].split(".")[0]

In [127]:
domain_name("http://google.com")

'google'

In [128]:
domain_name("http://google.co.jp")

'google'

In [129]:
domain_name("www.xakep.ru")

'xakep'

In [130]:
domain_name("https://youtube.com")

'youtube'

# 16. Josephus Survivor

In [179]:
def josephus_survivor(n,k):
    circle = [i+1 for i in range(n)]
    initial = (k-1)% n
#     print(circle)
    while(len(circle)!=1):
#         print(initial)
#         print(circle)
        del circle[initial]
        initial = (initial+k-1)%len(circle)
    return circle[0]

In [180]:
# (josephus_survivor(7,3),4)
# test.assert_equals(josephus_survivor(11,19),10)
# test.assert_equals(josephus_survivor(1,300),1)
# test.assert_equals(josephus_survivor(14,2),13)
# test.assert_equals(josephus_survivor(100,1),100)

In [181]:
josephus_survivor(11,19)

10

In [182]:
josephus_survivor(1,300)

1

In [183]:
josephus_survivor(14,2)

13

In [184]:
josephus_survivor(100,1)

100

In [185]:
josephus_survivor(7,3)

4

# 17. Calculating with Functions

In [1]:
def zero(f = None):
    return 0 if not f else f(0)
def one(f = None):
    return 1 if not f else f(1)
def two(f = None):
    return 2 if not f else f(2)
def three(f = None):
    return 3 if not f else f(3)
def four(f = None):
    return 4 if not f else f(4)
def five(f = None):
    return 5 if not f else f(5)
def six(f = None):
    return 6 if not f else f(6)
def seven(f = None):
    return 7 if not f else f(7)
def eight(f = None):
    return 8 if not f else f(8)
def nine(f = None):
    return 9 if not f else f(9)

def plus(y):
    return lambda x: x+y
def minus(y):
    return lambda x: x-y
def times(y):
    return lambda  x: x*y
def divided_by(y):
    return lambda  x: x//y

In [4]:
one(plus(five()))

6

# 18. Last digit of a large number

In [5]:
def last_digit(n1, n2):
    return str(n1**n2)[-1]

In [6]:
0**0

1

In [8]:
last_digit(2, 5)

'2'