# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
data_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(data_url,sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = df

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
# Solution 1
chipo.shape

(4622, 5)

In [10]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [11]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [13]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

Dataframe.loc[ ]  This function is used for labels. <br>
Dataframe.iloc[ ] : This function is used for positions or integer based <br>
Dataframe.ix[ ] : This function is used for both label and integer based <br>

### Step 9. Which was the most-ordered item?

In [44]:
orders = df.groupby(["item_name"])["order_id"].count().reset_index(name="count").sort_values(['count'], ascending=False)
orders.head(1)

       item_name  count
17  Chicken Bowl    726

### Step 10. For the most-ordered item, how many items were ordered?

In [45]:
orders['count'].head(1).item()

726

In [35]:
orders

                                item_name  count
17                           Chicken Bowl    726
18                        Chicken Burrito    553
25                    Chips and Guacamole    479
39                          Steak Burrito    368
10                      Canned Soft Drink    301
38                             Steak Bowl    211
23                                  Chips    211
6                           Bottled Water    162
22                     Chicken Soft Tacos    115
21                     Chicken Salad Bowl    110
24           Chips and Fresh Tomato Salsa    110
9                             Canned Soda    104
37                          Side of Chips    101
45                         Veggie Burrito     95
2                        Barbacoa Burrito     91
44                            Veggie Bowl     85
11                          Carnitas Bowl     68
1                           Barbacoa Bowl     66
12                       Carnitas Burrito     59
43                       Steak Soft Tacos     55
0                       6 Pack Soft Drink     54
30    Chips and Tomatillo Red Chili Salsa     48
19                   Chicken Crispy Tacos     47
29  Chips and Tomatillo Green Chili Salsa     43
16                    Carnitas Soft Tacos     40
40                     Steak Crispy Tacos     35
31  Chips and Tomatillo-Green Chili Salsa     31
42                       Steak Salad Bowl     29
35                       Nantucket Nectar     27
5                     Barbacoa Soft Tacos     25
27     Chips and Roasted Chili Corn Salsa     22
32    Chips and Tomatillo-Red Chili Salsa     20
34                                   Izze     20
48                      Veggie Salad Bowl     18
28     Chips and Roasted Chili-Corn Salsa     18
3                   Barbacoa Crispy Tacos     11
4                     Barbacoa Salad Bowl     10
20                          Chicken Salad      9
13                  Carnitas Crispy Tacos      7
49                      Veggie Soft Tacos      7
8                                 Burrito      6
47                           Veggie Salad      6
15                    Carnitas Salad Bowl      6
41                            Steak Salad      4
7                                    Bowl      2
36                                  Salad      2
33                           Crispy Tacos      2
26      Chips and Mild Fresh Tomato Salsa      1
14                         Carnitas Salad      1
46                    Veggie Crispy Tacos      1

### Step 11. What was the most ordered item in the choice_description column?

In [46]:
choice_orders = df.groupby(["choice_description"])["order_id"].count().reset_index(name="count").sort_values(['count'], ascending=False)

In [48]:
choice_orders.head(1)

   choice_description  count
15        [Diet Coke]    134

### Step 12. How many items were orderd in total?

In [4]:
df['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [6]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [18]:
df['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
df['item_price']=df["item_price"].apply(lambda x: float(x.replace('$','')))

In [22]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

#### Step 13.c. Check the item price type

In [23]:
df['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [24]:
orders = df.groupby('order_id').sum()

In [28]:
orders.sum()

quantity       4972.00
item_price    34500.16
dtype: float64

### Step 15. How many orders were made in the period?

In [33]:
len(pd.unique(df['order_id']))

1834

### Step 16. What is the average revenue amount per order?

In [47]:
# Solution 1 
# average_revenue_amount = total_revenue / total_order
average_revenue_amount = df['item_price'].sum()/len(pd.unique(df['order_id']))
average_revenue_amount

18.811428571428575

In [48]:
# Solution 2

### Step 17. How many different items are sold?

In [49]:
len(pd.unique(df['item_name']))

50